---
http_interactions:
- request:
    method: post
    uri: https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=en&to=es
    body:
      encoding: UTF-8
      string: '[{"Text":"I am too old for this"}]'
    headers:
      Ocp-Apim-Subscription-Key:
      - "<TRANSLATOR_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mt-System:
      - Microsoft
      X-Requestid:
      - TRAN.AM3P.0A9E.0414T1559.3AD8A6A
      X-Metered-Usage:
      - '21'
    body:
      encoding: UTF-8
      string: '[{"translations":[{"text":"Soy demasiado viejo para esto","to":"es"}]}]'
  recorded_at: Tue, 14 Apr 2020 15:59:07 GMT
recorded_with: VCR 3.0.3
