---
http_interactions:
- request:
    method: post
    uri: https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=en&to=lu
    body:
      encoding: UTF-8
      string: '[{"Text":"I am too old for this"}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Requestid:
      - TRAN.AM3P.0A9E.0416T0706.100603
    body:
      encoding: UTF-8
      string: '{"error":{"code":401000,"message":"The request is not authorized because
        credentials are missing or invalid."}}'
  recorded_at: Thu, 16 Apr 2020 07:06:12 GMT
recorded_with: VCR 5.0.0
