---
http_interactions:
- request:
    method: post
    uri: https://westeurope.api.cognitive.microsoft.com/vision/v2.0/analyze?Language=en&details=&visualFeatures=Description
    body:
      encoding: UTF-8
      string: '{"url":"https://en.wikipedia.org/wiki/Main_Page"}'
    headers:
      Ocp-Apim-Subscription-Key:
      - "<VISION_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"InvalidImageFormat","requestId":"9ab2ec69-fdf9-48d8-99e4-63cd73455b68","message":"Input
        data is not a valid image."}'
  recorded_at: Thu, 16 Apr 2020 10:13:40 GMT
recorded_with: VCR 5.0.0
